.Projects {
  background-color: $whitish;
  margin-bottom: 25px;
  margin-left: 1%;
  margin-right: 1%;

  h2 {
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-size: 3rem;
    margin-top: 25px;
  }

  .portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    .project {
      width: 100%;
      padding: 15px 1% 0 1%;
      max-width: 750px;

      img {
        width: 100%;
      }

      h3 {
        font-size: 3.2rem;
        margin-bottom: 20px;
      }

      h5 {
        font-size: 1.9rem;
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
        display: block;
        color: black;
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 10px;
      }

      ul {
        padding-left: 20px;

        li {
          font-size: 1.7rem;
          margin-bottom: 10px;
        }
      }
    }

    .project:hover {
      background-color: $gold;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

hr {
  color: $charcoal;
  background-color: $charcoal;
  height: 3px;
}
