.Projects {
    height: 100vh;
    background-color: $lighterGray;
    margin: 0;
    padding: 50px 0 50px 0;

    h2 {
        text-align: center;
        font-size: 6rem;
        font-weight: bold;
    }

    h3 {
        text-align: center;
        font-size: 3rem;
        margin-top: 25px;
    }
    
    .portfolio {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        .project {
            width: 32%;
            margin: 30px 9% 0 9%;
            padding: 8px;
            border: 10px groove darkgray;

            img {
                width: 100%;
            }

            h3 {
                font-size: 3.2rem;
                margin-bottom: 20px;
            }

            h5 {
                font-size: 1.9rem;
                margin-bottom: 10px;
            }

            a {
                text-decoration: none;
                display: block;
                color: black;
                font-size: 1.9rem;
                font-weight: 700;
                margin-bottom: 10px;
            }

            ul {
                padding-left: 20px;

                li {
                    font-size: 1.7rem;
                    margin-bottom: 10px;
                }
            }
        }

        .project:hover {
            background-color: $gold;

            a:hover {
                text-decoration: underline;
            }
        }
    }
}