.Projects {
    height: 100vh;
    background-color: $lighterGray;
    margin: 0;
    padding: 50px 0 40px 0;

    h2 {
        text-align: center;
        font-size: 6rem;
        font-weight: bold;
    }

    h3 {
        text-align: center;
        font-size: 3rem;
        margin-top: 25px;
    }
    
    .portfolio {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        .project {
            width: 30%;
            margin: 30px 10% 0 10%;
            padding: 2px;
            border: 4px groove darkgray;

            img {
                width: 100%;
            }

            h3 {
                font-size: 2.7rem;
                margin-bottom: 20px;
            }

            h5 {
                font-size: 1.9rem;
                margin-bottom: 10px;
            }

            ul {
                padding-left: 20px;

                li {
                    font-size: 1.7rem;
                    margin-bottom: 10px;
                }
            }
        }

        .project:hover {
            background-color: $whitish;
        }
    }
}